/* .nav-links {
    color: rgb(248 205 196);

}
    
    .nav-links:hover {
    background-color:rgb(248 205 196); 
    color:rgb(248 205 196);
    }

    .navbar-light .navbar-nav .nav-link {
        color:rgb(248 205 196);
    } */